@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --font-family: font-family: 'Share Tech', sans-serif;
    --bg-color: #B7B78A;
    --main-color: #658864;

}

